<%- include("templates/headerV2") %>
<div class="container mx-auto bg-gray text-center">
    <div class="bg-white p-8">
    <h1 class="text-3xl font-bold mb-4">Submit Your Event Idea</h1>
    <form action="/event_submission?groupId=<%= group._id %>" method="POST" class="bg-lavender p-6 rounded shadow-inner">
        <div class="form-group mb-4">
            <label for="eventTitle" class="block text-gray-700">Event Title</label>
            <input type="text" id="eventTitle" name="eventTitle" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-light-purple focus:border-transparent transition duration-200 p-2" required>
        </div>
        <div class="form-group mb-4">
            <label for="description" class="block text-gray-700">Description</label>
            <textarea id="description" name="description" rows="4" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-light-purple focus:border-transparent transition duration-200 p-2"></textarea>
        </div>
        <div class="form-group mb-4 flex">
            <div class="w-32 mr-2">
                <label for="location" class="block text-gray-700">Location</label>
                <input type="text" id="location" name="location" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-light-purple focus:border-transparent transition duration-200 p-2">
            </div>
            <div class="w-32 ml-2">
                <label for="eventTime" class="block text-gray-700">Event Time</label>
                <input type="time" id="eventTime" name="eventTime" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-light-purple focus:border-transparent transition duration-200 p-2">
            </div>
        </div>
        <div class="form-group mb-4">
            <label for="contactInfo" class="block text-gray-700">Contact Information</label>
            <input type="text" id="contactInfo" name="contactInfo" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-light-purple focus:border-transparent transition duration-200 p-2">
        </div>
        <div class="form-group mb-4">
            <label for="category" class="block text-sm font-medium text-gray-700">Event Category</label>
            <select id="category" name="category" class="w-full p-2 mt-1 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent transition duration-300" required>
                <option value="Social">Social</option>
                <option value="Workshop">Workshop</option>
                <option value="Meeting">Meeting</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="bg-light-purple hover:bg-purple focus:outline-none focus:ring focus:ring-violet-300 active:bg-violet-700 px-6 py-2 text-base leading-5 rounded-full font-semibold text-white">Submit Event</button>
        </div>

    </form>
    </div>
</div>
<div id="bottom"></div>
</div>
<div class="h-[20px]" onLoad=""></div>
<br>
<!-- <div class="container mx-auto bg-gray flex items-center justify-center py-6">
    <div class="bg-white p-8">
        <h1 class="text-3xl font-bold mb-4">Submit Your Event Idea</h1>
        <form action="/test?groupId=<%= group._id %>" method="POST" class="bg-lavender p-6 rounded shadow-inner">
            <div class="relative z-0 w-full mb-5 group">
                <input type="text" name="eventTitle" id="eventTitle" class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-purple peer" placeholder=" " required />
                <label for="eventTitle" class="absolute text-sm font-bold text-purple duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-purple peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Event Title</label>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <textarea name="description" id="description" rows="4" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-purple peer" placeholder=" " required></textarea>
                <label for="description" class="absolute text-sm text-purple duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-purple peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Description</label>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <input type="text" name="location" id="location" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-purple peer" placeholder=" " required />
                <label for="location" class="absolute text-sm text-purple duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-purple peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Location</label>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <input type="text" name="contactInfo" id="contactInfo" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-purple peer" placeholder=" " required />
                <label for="contactInfo" class="absolute text-sm text-purple duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-purple peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Contact Information</label>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <select name="category" id="category" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-purple peer" required>
                    <option value="" disabled selected hidden></option>
                    <option value="Meeting">Meeting</option>
                    <option value="Workshop">Workshop</option>
                    <option value="Social">Social</option>
                </select>
                <label for="category" class="absolute text-sm text-purple duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-purple peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Event Category</label>
            </div>
            <div class="form-group flex justify-center">
                <button id="submit-button" type="submit" class="bg-light-purple hover:bg-purple focus:outline-none focus:ring focus:ring-violet-300 active:bg-violet-700 px-6 py-2 text-base leading-5 rounded-full font-semibold text-white">Submit Event</button>
            </div>
        </form>
    </div>
</div> -->

<%- include("templates/footer") %>