<%- include("templates/header") %> 
    <h1>Hello, <%= session.name %></h1>
    <div class="row mb-3 text-center">
        <div class="col-md-4 themed-grid-col">
            <img class="img-fluid" src='/1.png' />
        </div>
        <div class="col-md-4 themed-grid-col">
            <img class="img-fluid" src='/2.png' /><br/>
        </div>
        <div class="col-md-4 themed-grid-col">
            <img class="img-fluid" src='/3.png' /><br/>
        </div>
    </div>
    <a href='/logout'>Logout</a>
<%- include("templates/footer") %> 