<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image" href="./images/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NextUp</title>
    <link href="./styles/output.css" rel="stylesheet">
    <link href="./styles/styles.css" rel="stylesheet">
    <link href="./styles/loginStyles.css" rel="stylesheet">
    <script type="text/javascript">
        $('html').addClass('hidden');
        $(window).on('load', function() {
          $('html').removeClass('hidden'); 
         });  
    </script>
</head>
<body class="signupBody bg-purple">
    <button type="button" onclick="history.back()" class="backButton text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm mt-4 p-0 text-center inline-flex items-center me-2">
        <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5H1m0 0 4 4M1 5l4-4"></path>
        </svg>
        <span class="sr-only">Back</span>
    </button>
    <% if(locals.success){ %>
        <h1 class="signupTitle passwordResetTitle">If an account exists with the email "<%= email %>", a password reset link has been sent to it. </h1>
    <% } else { %>
        <h1 class="signupTitle passwordResetTitle">Recover your password</h1>
        <p class="text">Enter your email address</p>
        <form class="loginForm" action='/password-reset' method='post'>
            <div class="relative">
                <input name="email" value="<%=locals.formData ? formData.email : ''%>" type="text" id="email" class="mb-4 block rounded-xl px-2.5 pb-2.5 pt-5 w-full text-sm text-white bg-darkPurple border-2 focus:border-2 border-purple appearance-none focus:outline-none focus:ring-0 focus:border-violet-600 peer" placeholder=" " />
                <label for="email" class="absolute text-sm text-gray-50 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Email</label>
            </div>
            <% if(locals.error){ %>
                <p class="errorMessage mt-[8px]"><%=error%></p>
            <% } %>
            <button class="loginButton">Continue</button>
        </form>
    <% } %>
    <script src="./scripts/script.js"></script>
</body>
</html>