    <footer class="w-full h-[10vh] fixed bottom-0 bg-purple">
        <nav class="flex justify-around items-center w-full h-full">
            <a href="#">
                <img src="./images/home.png" alt="Home" class="w-8 h-8 md:w-12 md:h-12 lg:w-16 lg:h-16">
            </a>
            <a href="#">
                <img src="./images/event.png" alt="Event" class="w-8 h-8 md:w-12 md:h-12 lg:w-16 lg:h-16">
            </a>
            <a href="#">
                <img src="./images/search.png" alt="Search" class="w-8 h-8 md:w-12 md:h-12 lg:w-16 lg:h-16">
            </a>
            <a href="#">
                <img src="./images/profile.png" alt="Profile" class="w-8 h-8 md:w-12 md:h-12 lg:w-16 lg:h-16">
            </a>
        </nav>
    </footer>
    <!-- footer above -->

    <script src="scripts/script.js"></script>
</body>
</html>