<footer class="w-full h-[10vh] fixed bottom-0 bg-purple">
    <nav class="flex justify-around items-center w-full h-full">
        <a href="#">
            <img src="<%= assetPath('src/images/home.png') %>" alt="Home" class="w-8 h-8 md:w-12 md:h-12 lg:w-16 lg:h-16">
        </a>
        <a href="#">
            <img src="<%= assetPath('src/images/event.png') %>" alt="Event" class="w-8 h-8 md:w-12 md:h-12 lg:w-16 lg:h-16">
        </a>
        <a href="#">
            <img src="<%= assetPath('src/images/search.png') %>" alt="Search" class="w-8 h-8 md:w-12 md:h-12 lg:w-16 lg:h-16">
        </a>
        <a href="#">
            <img src="<%= assetPath('src/images/profile.png') %>" alt="Profile" class="w-8 h-8 md:w-12 md:h-12 lg:w-16 lg:h-16">
        </a>
    </nav>
</footer>

<!-- footer above -->

<script src="scripts/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>