<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NextUp</title>
    <link rel="icon" type="image" href="./images/favicon.png" />
    <link href="./styles/output.css" rel="stylesheet">
    <link href="./styles/styles.css" rel="stylesheet">
    <script type="text/javascript">
        $('html').addClass('hidden');
        $(window).on('load', function() {
          $('html').removeClass('hidden'); 
         });  
    </script>
</head>
<body class="overflow-auto">
    <header class="flex flex-row bg-purple sticky top-0 w-full h-[10vh] ">
        <nav class="flex flex-row items-center">
            <div class="flex flex-row items-center">
                <a href="#" onclick="window.history.back()">
                    <img src="./images/backButton.png" alt="BackButton" class="max-w-16 max-h-16 h-[10vh]">
                </a>
                <!-- add onclick for logo -->
                <a href="#" >
                        <img src="./images/clearLogo.png" alt="Logo" class="max-w-24 max-h-24 h-[10vh]">
                </a>
            </div>
        </nav>

    </header>