<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image" href="./images/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NextUp</title>
    <link href="./output.css" rel="stylesheet">
    <link href="styles/styles.css" rel="stylesheet">
</head>
<body class=" overflow-auto">
    <header class="bg-purple sticky top-0 w-full h-[10vh]">
        <nav>
            <a href="#">
                <div>
                    <img src="./images/clearLogo.png" alt="Logo" class="max-w-24 max-h-24 h-[10vh]">
                </div>
            </a>
        </nav>
    </header>