<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.pageTitle ? locals.pageTitle+' | ' : '' %>NextUp</title>
    <link rel="icon" type="image" href="/public/images/favicon.png" />
    <link href="/styles/output.css" rel="stylesheet">
    <link href="/styles/styles.css" rel="stylesheet">
    <script type="text/javascript">
        document.querySelector('html').classList.add("hidden");
        window.addEventListener('load', (e) => {
          document.querySelector('html').classList.remove("hidden"); 
         });
    </script>
</head>
<body class="overflow-auto">
    <header class=" bg-purple sticky top-0 w-full h-[10vh] flex flex-row items-center justify-between">
        <a href="#" onclick=<%= locals.backButton ? 'location.href=\"'+backButton+'\"' : 'window.history.back()'%>>
            <img src="/images/backButton.png" alt="BackButton" class="m-2 h-[32px]">
        </a>
        <!-- add onclick for logo -->
        <a href="#" id="eggLink" class="flex items-center">
            <img src="/images/clearLogo.png" alt="Logo" class="max-w-24 max-h-24 h-[64px]">
        </a>
        <div class="w-[48px]">

        </div>
    </header>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const eggLink = document.getElementById('eggLink');
            let holdTimer;

            eggLink.addEventListener('mousedown', function() {
                holdTimer = setTimeout(function() {
                    window.location.href = '/egg';
                }, 1000); // 1000 milliseconds = 1 seconds
            });

            eggLink.addEventListener('mouseup', function() {
                clearTimeout(holdTimer);
            });

            eggLink.addEventListener('mouseleave', function() {
                clearTimeout(holdTimer);
            });

            eggLink.addEventListener('touchstart', function() {
                holdTimer = setTimeout(function() {
                    window.location.href = '/egg';
                }, 1000); // 1000 milliseconds = 1 seconds
            });

            eggLink.addEventListener('touchend', function() {
                clearTimeout(holdTimer);
            });

            eggLink.addEventListener('touchcancel', function() {
                clearTimeout(holdTimer);
            });
        });
    </script>
</html>
